$base-font-size: 16px;

// 图片容器
.image-group {
  margin: $base-font-size * 1.5 0;
  .image-group-images {
    text-align: center;
    overflow-x: auto;
    white-space: nowrap;
  }

  .image-group-label {
    margin-top: $base-font-size;
    text-align: center;
    color: #666;
    font-size: $base-font-size * 0.95;
  }

  figure {
    display: inline-block;
    margin: 0;
    flex-shrink: 0;
  }
}

/* Custom Containers */
.custom-container {
  margin: $base-font-size * 1.5 0;
  padding: $base-font-size * 0.1 $base-font-size * 1.125;
  border-radius: 8px;
  font-size: $base-font-size * 0.95;
  background-color: rgba(152, 152, 152, 0.1);
}

.custom-container-title {
  margin: $base-font-size 0;
  font-weight: 600;
}

/* Info */
.custom-container.info {
  background-color: rgba(59, 142, 237, 0.1);
}

.custom-container.info .custom-container-title {
  color: #3b8eed;
}

/* Success */
.custom-container.success {
  background-color: rgba(39, 201, 63, 0.1);
}

.custom-container.success .custom-container-title {
  color: #27c93f;
}

/* Warning */
.custom-container.warning {
  background-color: rgba(255, 189, 47, 0.1);
}

.custom-container.warning .custom-container-title {
  color: #ffbd2e;
}

/* Danger */
.custom-container.danger {
  background-color: rgba(255, 95, 86, 0.1);
}

.custom-container.danger .custom-container-title {
  color: #ff5f56;
}

/* Task Lists */
.task-list {
  padding-left: 0;
}
.task-list-item {
  list-style-type: none !important;
  padding-left: 0 !important;
}
.task-list-item .checkbox {
  -webkit-appearance: initial;
  display: inline-block;
  margin: 0 $base-font-size * 0.5 0 $base-font-size * 0.25;
  vertical-align: middle;
  position: relative;
  width: $base-font-size;
  height: $base-font-size;
  font-size: $base-font-size;
  border: 1px solid rgba(200, 190, 187, 0.3);
  border-radius: $base-font-size * 0.2;
}
.task-list-item .checkbox::before {
  content: '✓';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: $base-font-size * 0.8;
  font-weight: bold;
}
.task-list-item .checkbox.checked {
  background-color: var(--primary-color, #27c93f);
  border-color: var(--primary-color, #27c93f);
}
.task-list-item .checkbox.checked::before {
  display: flex;
}
